<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tours in Ukraine</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  
    <div class="header_inner_o">
        <div class="logo_o">Tours in Ukraine</div>
        {% include 'menu.html' %}
    </div>

<body>

    <div class="cities_b"><h1 class="cities_h1">
        Here is list of the most interesting cities in Ukraine.If you don't know where to go.
        </h1>
        <h2 class="cities_n">Kyiv</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/kyiv.jpg" alt=""></div>
        <h2 class="cities_d">The capital of Ukraine, Kyiv is a city steeped in history and culture. With its stunning architecture, including the iconic St. Sophia's Cathedral, and vibrant arts scene, it's a blend of modernity and tradition.</h2>
        <h2 class="cities_n">Lviv</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/lviv.jpg" alt=""></div>
        <h2 class="cities_d">Known as the cultural capital, Lviv boasts a well-preserved medieval old town with cobblestone streets, charming squares, and numerous cafes. Its rich history is evident in its diverse architecture and UNESCO-listed sites.</h2>
        <h2 class="cities_n">Odessa</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/odessa.jpg" alt=""></div>
        <h2 class="cities_d">Situated on the Black Sea coast, Odessa is a bustling port city renowned for its grand architecture, including the famous Potemkin Stairs. It has a lively nightlife, beautiful beaches, and a unique multicultural heritage.</h2>
        <h2 class="cities_n">Kharkiv</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/kharkiv.jpg" alt=""></div>
        <h2 class="cities_d">As the second-largest city, Kharkiv is a major educational and scientific hub. Its wide avenues, numerous parks, and vibrant student population contribute to a dynamic atmosphere.</h2>
        <h2 class="cities_n">Dnipro</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/dnipro.jpg" alt=""></div>
        <h2 class="cities_d">Located on the Dnieper River, Dnipro is an industrial center with a growing cultural scene. Its parks, museums, and riverfront promenades provide a balance between urban and natural elements.</h2>
        <h2 class="cities_n">Zaporizhzhia</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/zaporizhzhia.jpg" alt=""></div>
        <h2 class="cities_d">This city is known for the Zaporizhian Sich historical complex, which offers insights into the Cossack history of Ukraine. It's also home to the Dnieper Hydroelectric Station, one of the largest in Europe.</h2>
        <h2 class="cities_n">Kherson</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/kherson.jpg" alt=""></div>
        <h2 class="cities_d">Situated near the mouth of the Dnieper River, Kherson is a port city with a rich history. Its green spaces, historic buildings, and maritime influence make it a charming destination.</h2>
        <h2 class="cities_n">Chernivtsi</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/chernivtsi.jpg" alt=""></div>
        <h2 class="cities_d">A city with a strong Austrian and Romanian influence, Chernivtsi is famous for its elegant architecture, including the Chernivtsi University building. The city's multicultural history is evident in its diverse population.</h2>
        <h2 class="cities_n">Ivano-Frankivsk</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/ivano-frankivsk.jpg" alt=""></div>
        <h2 class="cities_d">Nestled in the Carpathian Mountains, this city is a gateway to the scenic landscapes of western Ukraine. Its architecture reflects various historical periods, and it serves as a starting point for outdoor adventures.</h2>
        <h2 class="cities_n">Poltava</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/poltava.jpg" alt=""></div>
        <h2 class="cities_d">Known for its historic significance, Poltava is the site of the famous Battle of Poltava. The city's landmarks, such as the Round Square and the Ivan Kotlyarevsky Museum, celebrate its heritage.</h2>
        <h2 class="cities_n">Sumy</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/sumy.jpg" alt=""></div>
        <h2 class="cities_d">A city with a tranquil atmosphere, Sumy is characterized by its parks, rivers, and gardens. Its cultural institutions and art galleries contribute to a peaceful and creative ambiance.</h2>
        <h2 class="cities_n">Vinnytsia</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/vinnytsia.jpg" alt=""></div>
        <h2 class="cities_d">Vinnytsia is recognized for the multimedia fountain Roshen, which offers nightly light shows. The city's history, parks, and modern attractions create a diverse urban experience.</h2>
        <h2 class="cities_n">Ternopil</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/ternopil.jpg" alt=""></div>
        <h2 class="cities_d">This city is known for its picturesque Ternopil Pond, surrounded by green spaces and walking paths. Ternopil Castle and the city's cultural events showcase its vibrant community.</h2>
        <h2 class="cities_n">Kropyvnytskyi</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/kropyvnytskyi.jpg" alt=""></div>
        <h2 class="cities_d">Formerly known as Kirovohrad, this city has a rich cultural scene and is home to various theaters, museums, and galleries. Its central park and historical landmarks add to its charm</h2>
        <h2 class="cities_n">Cherkasy</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/cherkasy.jpg" alt=""></div>
        <h2 class="cities_d">Cherkasy is located on the Dnieper River and offers waterfront views, parks, and recreational activities. The city's historical museums and architectural landmarks provide insight into its past.</h2>
        <h2 class="cities_n">Lutsk</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/lutsk.jpg" alt=""></div>
        <h2 class="cities_d">Lutsk's most famous landmark is Lutsk Castle, a historic fortress with centuries of history. The city's unique architecture and strong cultural traditions make it a captivating destination.</h2>
        <h2 class="cities_n">Rivne</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/rivne.jpg" alt=""></div>
        <h2 class="cities_d">With a mix of historic sites and modern amenities, Rivne offers a balance between tradition and progress. Its churches, museums, and cultural events contribute to a vibrant cityscape.</h2>
        <h2 class="cities_n">Zhytomyr</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/zhytomyr.jpg" alt=""></div>
        <h2 class="cities_d">Zhytomyr is known for its parks, including the serene Sobornyi Park and the Gagarin Park. The city's historical architecture and strong literary heritage are noteworthy aspects of its identity.<0/h2>
        <h2 class="cities_n">Mykolaiv</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/mykolaiv.jpg" alt=""></div>
        <h2 class="cities_d">Situated along the Black Sea coast, Mykolaiv is a significant shipbuilding and naval city. Its maritime history, museums, and scenic waterfront make it an intriguing destination.</h2>
        <h2 class="cities_n">Uzhhorod</h2>
        <div class="cities_ce"><img class="cities_img" src="static/img/uzhhorod.jpg" alt=""></div>
        <h2 class="cities_d">Uzhhorod is the westernmost city in Ukraine, situated in the picturesque Zakarpattia region. The city's diverse cultural influences are reflected in its architecture, which includes a castle and charming old town. Uzhhorod's location near the borders of Slovakia and Hungary adds to its unique character, making it a gateway to exploring different cultures within Ukraine.</h2>


    </div>
    <footer class = "footer">
        <h3 class="footer_text">created by Kiril Kovalchuk</h3>
    </footer>





</body>
</html>