<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tours in Ukraine</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <div class="header_inner_o">
    <div class="logo_o">Tours in Ukraine</div>
    {% include 'menu.html' %}
</div>
<body>
  <h1 class="cities_h1">Add your own place!</h1>
  <div class = "form_p">
    <form action="" method="post" enctype="multipart/form-data">
      <div class="mb-3">
          <label  class="form-label">ENTER PLACE NAME</label>
          <input required name ="name" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ENTER PRICE OF ENTERING</label>
          <input required name="price" type="price" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ENTER DESCRIPTION OF PLACE</label>
          <input required name="desc" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">ENTER ADDRESS</label>
          <input required name="address" type="text" class="form-control" id="exampleFormControlInput1">
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">CHOOSE A PHOTO OF THE PLACE</label>
        <input name="image" class="form-control" type="file" id="formFile">
      </div>
      <button type="submit" class="btn btn-dark">SEND INFORMATION</button>
    </form>


  </div>
    <footer class = "footer">
        <h3 class="footer_text">created by Kiril Kovalchuk</h3>
       </footer>







</body>
</html>